.datepicker-div {
  margin: auto;
  width: 22%;
  margin-bottom: 30px;
}

.date-cmp {
  padding: 12px;
  /* margin: 18px; */
}

.btn-div {
  width: 8%;
  margin: auto;
}

/* .btn {
  margin-top: 15px;
  padding: 5px;
} */
